{% block body %}
    <body class="bg-light">
    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-4">{{ form_row(form.Nom) }}</div>
        {#    <div class="col-md-4">{{ form_row(form.imageFile) }}</div>#}
        <div class="col-md-4">
            <label for="">Marque</label>
            <select name="marquesFk" class="form-control">
                {% for marque in marques %}
                    <option>{{ marque.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">{{ form_row(form.imageFile) }}</div>
        <div class="col-md-4">{{ form_row(form.Processeur) }}</div>
        <div class="col-md-4">{{ form_row(form.carte_graphique) }}</div>
        <div class="col-md-4">{{ form_row(form.Ram) }}</div>
        <div class="col-md-4">{{ form_row(form.stockage) }}</div>
        <div class="col-md-4">{{ form_row(form.type_stockage) }}</div>
        <div class="col-md-4">{{ form_row(form.Poids) }}</div>
        <div class="col-md-4">{{ form_row(form.dimensions_ecran) }}</div>
        <div class="col-md-4">{{ form_row(form.type) }}</div>
        <div class="col-md-4">{{ form_row(form.port_usb) }}</div>
        <div class="col-md-4">{{ form_row(form.caracteristique) }}</div>
    </div>
    {{ form_rest(form) }}
    <div class="py-5 text-center">
        <button type="submit" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
    </div>

    {{ form_end(form) }}
    </body>
{% endblock %}
