{% block body %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.Nom) }}</div>
    <div class="col-md-4">
        <select name="marquesFk" class="form-control">
            {% for marque in marques %}
            <option {% if marque.id == computers.marquesFk.id %} selected {% endif%} value="{{ marque.id }}">{{ marque.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">{{ form_row(form.Processeur) }}</div>
    <div class="col-md-4">{{ form_row(form.carte_graphique) }}</div>
</div>
<div class="row">
    <div class="col-md-2">{{  form_row(form.Ram)}}</div>
    <div class="col-md-2">{{  form_row(form.stockage)}}</div>
    <div class="col-md-2">{{  form_row(form.type_stockage)}}</div>
    <div class="col-md-2">{{  form_row(form.Poids)}}</div>
    <div class="col-md-2">{{  form_row(form.dimensions_ecran)}}</div>
    <div class="col-md-2">{{  form_row(form.type)}}</div>
    <div class="col-md-2">{{  form_row(form.port_usb)}}</div>
</div>
<div class="row">
    <div class="col-md-5">{{ form_row(form.caracteristique) }}</div>
</div>
{{ form_rest(form) }}
<button type="submit" class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% endblock %}

