{% extends 'base.html.twig' %}

{% block title 'Gérer les ordinateurs' %}

{% block body %}
    <div class="container mt-4">

        <h1>Gestion des ordinateurs</h1>

        {% for message in app.flashes('succes') %}
        <div class="div alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        <table class="table table-striped">
            <thread>
                <tr>
                    <th>Nom du poste</th>
                    <th>Action</th>
                </tr>
            </thread>
            <body>
            {% for ordinateurs in computers %}
                <tr>
                    <td>{{ ordinateurs.nom }}</td>
                    <td>
                        <a href="{{ path('admin_computer_edit', {id: ordinateurs.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin_computer_delete', {id: ordinateurs.id}) }}"
                              style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sur ?')">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </body>
            <a href="{{ path('computer_add') }}" class="btn btn-secondary">Ajouter un ordinateur</a>
        </table>
    </div>

{% endblock %}