<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-mb-4">
                <h1>{{ ordinateurs.nom }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2>Caractéristique de l'ordinateurs</h2>
            <table class="table table-striped">
                <tr>
                    <td>Marque :</td>
                    <td>{{ ordinateurs.marquesFk.nom }}</td>
                </tr>
                <tr>
                    <td>Processeur :</td>
                    <td>{{ ordinateurs.processeur }}</td>
                </tr>
                <tr>
                    <td>Carte graphique :</td>
                    <td>{{ ordinateurs.carteGraphique }}</td>
                </tr>
                <tr>
                    <td>Ram :</td>
                    <td>{{ ordinateurs.ram }}Go</td>
                </tr>
                <tr>
                    <td>Stockage :</td>
                    <td>{{ ordinateurs.stockage }}</td>
                </tr>
                <tr>
                    <td>Type de stockage :</td>
                    <td>{{ ordinateurs.stockageText }}</td>
                </tr>
                <tr>
                    <td>Poids :</td>
                    <td>{{ ordinateurs.poids }}</td>
                </tr>
                <tr>
                    <td>Dimesions (en pouces) :</td>
                    <td>{{ ordinateurs.dimensionsEcran }}</td>
                </tr>
                <tr>
                    <td>Port USB :</td>
                    <td>{{ ordinateurs.portUsb }}</td>
                </tr>
                <tr>
                    <td>Type :</td>
                    <td>{{ ordinateurs.typeText }}</td>
                </tr>
                <tr>
                    <td>Information supplémentaire :</td>
                    <td>{{ ordinateurs.caracteristique }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
