{% extends 'base.html.twig' %}

{% block title 'Nos PC' %}

{% block body %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% for ordinateurs in ordinateur %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('computer_compare', {id: ordinateurs.id, slug: ordinateurs.slug}) }}">Comparer</a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="container mt-4">
        <h1>Liste des ordinateurs</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-2">
                <form action="" method="get" class="px-3">
                    <div class="mb-3">
                        <label for="marquesFk">Marque</label>
                        <select name="filter[marques_fk]" class="form-control">
                            <option value=""></option>
                            {% for marque in marques %}
                                <option {% if filters and marque.id == filters['marques_fk'] %} selected {% endif %}
                                        value="{{ marque.id }}">{{ marque.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Nom">Nom</label>
                        <input type="text" name="filter[Nom]" class="form-control" value="{{ filters ? filters['Nom'] : '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="Nom">Processeur</label>
                        <input type="text" name="filter[Processeur]" class="form-control" value="{{ filters ? filters['Processeur'] : '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="Carte Graphique">Carte graphique</label>
                        <input type="text" name="filter[carte_graphique]" class="form-control" value="{{ filters ? filters['carte_graphique'] : ''}}">
                    </div>
                    <div class="mb-3">
                        <label for="Nom">Mémoire RAM</label>
                        <input type="text" name="filter[Ram]" class="form-control" value="{{ filters ? filters['Ram'] : '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="Nom">Stockage</label>
                        <input type="text" name="filter[stockage]" class="form-control" value="{{ filters ? filters['stockage'] : '' }}">
                    </div>
                    <div class="mb-3">
                        <label for="typeStockage">Type Stockage</label>
                        <select name="filter[type_stockage]" class="form-control">
                            <option value=""></option>
                            {% for typestockage in type_stockages %}
                                <option {% if filters and loop.index == filters['type_stockage'] %} selected {% endif %}
                                        value="{{ loop.index }}">{{ typestockage }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="typeStockage">Type ordinateur</label>
                        <select name="filter[type]" class="form-control">
                            <option value=""></option>
                            {% for typeordinateur in type_ordinateurs %}
                                <option {% if filters and loop.index == filters['type'] %} selected {% endif %}
                                        value="{{ loop.index }}">{{ typeordinateur }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button>Rechercher</button>
                </form>
        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                {% for ordinateurs in ordinateur %}
                    <div class="col-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="{{ path('computer_show', {id: ordinateurs.id, slug: ordinateurs.slug}) }}">{{ ordinateurs.nom }}</a>
                                </h5>
                                <p class="card-text">
                                    {{ ordinateurs.processeur }} <br>
                                    {{ ordinateurs.ram }} Go RAM <br>
                                    {{ ordinateurs.stockage }}<br>
                                    {{ ordinateurs.carteGraphique }}
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="text-primary">{{ ordinateurs.typetext }}</div>
                                        <a href="{{ path('computer_compare') }}?id1={{ ordinateurs.id }}">Comparer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(ordinateur) }}
            </div>
        </div>
    </div>

{% endblock %}
