{% extends 'base.html.twig' %}

{%  block titlle ordinateur.nom %}

{%  block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-mb-4">
                <h1>{{ ordinateur.nom }}</h1>
                <h2>Processeur : {{ ordinateur.processeur }} <br>
                    Carte graphique : {{ ordinateur.carteGraphique }}<br>
                    Mémoire RAM : {{ ordinateur.ram }}Go<br>
                    Poids (Kg) : {{ ordinateur.poids }}<br>
                    Dimensions écran (en pouce) : {{ ordinateur.dimensionsEcran}}<br>
                    Type ordinateur : {{ ordinateur.type }}<br>
                </h2>
            </div>
        </div>
    </div>
{%  endblock %}

